.header {
  padding: 16px 0; 
  border-bottom: 1px solid $color-border;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    
  }

  &__contact-list {
    display: none; 
  }

  &__nav-list {
    display: flex;
    flex-direction: column; 
    gap: 16px;
  }

  &__nav-link {
    padding: 8px 16px; 
    text-align: center; 
  }

  &__contact {
    display: flex;
    flex-direction: column; 
    gap: 16px;
  }

  &__contact-link {
    justify-content: center; 
  }

  
  @media (min-width: 768px) {
    &__container {
      flex-direction: row; 
    }
    &__logo{
      max-width: 135px;
    }

    &__contact-list {
      display: flex; 
      gap: 60px;
    }

    &__nav-list {
      flex-direction: row;
    }
    
    &__nav{
      margin: auto 0;

    } 
    &__contact{
      display: flex; 
      flex-direction: column;

    }
    &__contact-item{
      margin: auto 0;
      display: flex;
      justify-content: space-between;
    }
    &__contact-link{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    &__contact-icon{
      max-width: 14px;
      max-height: 14px;
    }
  }
}
