.about {
  padding-top: 5vh; 
  padding-bottom: 5vh;
}

.about__container {
  max-width: 100%;
}

.about__list {
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.about__item {
  width: 100%;
}

.about__photo {
  background-color: $color-background-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__img {
  max-width: 70px;
  height: auto;
  padding: 25px 0px;

}

.about__title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
  text-align: center;
}

.about__description {
  color: $color-text;
  font-weight: 400;
}




@media (min-width: 768px) {
  .about__list {
    gap: 30px;
    display: grid;
      grid-template-columns: repeat(auto-fill, 35vw);
      justify-content: center;
  }
  .about__title {
    
    text-align: left;
  }
  }
@media (min-width: 1200px) {
  .about__list {
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about__title {
    
    text-align: left;
  }
  }
