.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; 
}

.clients__card {
  padding: 22px 64px;
  border: 1px solid $color-svg;
  border-radius: 4px;
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 292px; 
  display: flex;
  justify-content: center;
}

.clients__card:hover {
  border-color: $color-hover;
}

.clients__icon {
  width: 65px;
  height: 50px;
  fill: $color-svg;
  transition: fill 0.25s linear;
}

.clients__card:hover .clients__icon {
  fill: $color-hover;
}

@media (min-width: 768px) {
  .clients__cards {
      gap: 30px;
      display: grid;
        grid-template-columns: repeat(3, 226px);
        justify-content: center;
  }
}
@media (min-width: 1200px) {
  .clients__cards {
    gap: 30px;
    display: grid;
      grid-template-columns: repeat(6, 170px);
      justify-content: center;
      padding: 0;
}
  .clients__card {
    padding: 16px 32px;

}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: $color-svg;
  transition: fill 0.25s linear;
}
}


