// Текст
$color-text-title: #212121;
$color-text: #757575;
$color-text-contrast: #fff;
$color-text-add: rgba(255, 255, 255, 0.6);
$color-hover: #2196f3;
// Фон
$color-background-primary: #2f303a;
$color-background-secondary: #f5f4fa;
$color-svg: #AFB1B8;
$color-border: #EEEEEE;
