.footer {
    background-color: var(--colorBackgroundPrimary);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__photo{
    max-width: 145px;
    max-height: 31px;
    margin-bottom: 20px;
  }
 

  