.footer__lists {
    display: flex;
    gap: 70px;
  }
  
  .footer__info-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  
  .footer__info-item {
    color: var(--colorTextContrast);
    font-weight: 400;
  }
  
  .footer__info-address {
    color: var(--colorTextContrast);
    font-weight: 400;
  }
  
  .footer__info-link {
    color: var(--colorTextAdd);
    font-weight: 400;
  }
  