.about {
  padding-top: 94px;
}

.about__container {
  max-width: 1200px;
  margin: 0 auto;
}

.about__list {
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
}

.about__item {
  flex: 1;
}

.about__photo {
  padding: 25px 100px;
  background-color: var(--colorBackgroundSecondary);
}

.about__img {
  width: 70px;
  height: 70px;
}

.about__title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
}

.about__description {
  color: var(--colorText);
  font-weight: 400;
}