.team__list {
  @include flexbox(row, space-between, flex-end);
}

.team__item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  width: 270px;
  text-align: center;
}

.team__photo {
  @include flexbox(row, center, center);
}

.team__img {
  width: 100%;
}

.team__info {
  @include flexbox(column, center, center, nowrap, 10px);
  padding: 20px 0 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
}

.team__position {
  color: var(--colorText);
  font-weight: 400;
  font-size: 16px;
}

.team__socials {
  @include flexbox(row, center, center, nowrap, 10px);
}

.team__icon {
  @include flexbox(row, center, center);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include transition(background-color, 0.25s, cubic-bezier(0.4, 0, 0.2, 1));
}

.team__icon:hover {
  background-color: var(--colorHover);
}

.team__icon:hover .team__icon-svg {
  fill: #fff;
}

.team__icon-svg {
  width: 20px;
  height: 20px;
  fill: var(--colorSVG);
  @include transition(fill, 0.25s, cubic-bezier(0.4, 0, 0.2, 1));
}
