.footer-lists{
    display: flex;
    gap: 70px;

    .footer-info-list{
        display: flex;
        flex-direction: column;
        gap: 9px;

        .info-address {
            color: var(--colorTextContrast);
            font-weight: 400;
        }

        .info-link {
            color: var(--colorTextAdd);
            font-weight: 400;
        }
      }
  }
  
  
 
  