.footer-list-newsletter {
    position: relative;
    bottom: 40px;
  
    .newsletter-item-title {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--colorTextContrast);
      margin-bottom: 20px;
    }
  
    .newsletter-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
  
      .newsletter-outline {
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        outline-offset: -15px;
        transition: border-color 0.25s linear;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
        &:focus-within,
        &:hover {
          outline: none;
          border-color: var(--colorHover);
        }
  
        .newsletter-input {
          width: 358px;
          padding: 15px 16px;
          font-size: 16px;
          line-height: 1.25;
          color: var(--colorTextContrast);
          background-color: rgba(0, 0, 0, 0);
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          border-radius: 4px;
          border: none; 
          outline: none;
        }
      }
  
      .newsletter-button {
        font-weight: 700;
        font-size: 16px;
        padding: 13px 28px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        background-color: var(--colorHover);
        border-radius: 4px;
        color: var(--colorTextContrast);
  
        .newsletter-icon {
          fill: var(--colorTextContrast);
        }
      }
    }
  }
  