.projeckt {
  border: 1px solid var(--colorBorder); 
  max-width: 370px;
  @include transition(all, 0.25s, cubic-bezier(0.4, 0, 0.2, 1));
  display: block;

  &:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    border-radius: 4px;
  }

  .title-category {
    padding: 20px 24px;
    @include flexbox(column, space-around, stretch, nowrap, 4px);
  }

  .projeckt-title {
    line-height: 2;
    font-weight: 700; 
    font-size: 18px;
  }

  .projeckt-category {
    line-height: 1.875;
    color: var(--colorText);
    font-size: 16px;
  }

  .projeckt-photo {
    overflow: hidden;
    position: relative;
    width: 100%;

    &:hover .projeckt-overlay {
      transform: translateY(0);
    }
  }

  .projeckt-overlay {
    background-color: rgba(33, 150, 243, 0.8);
    color: var(--colorTextContrast);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(100%);
    @include transition(transform, 0.25s, cubic-bezier(0.4, 0, 0.2, 1));
    padding-right: 24px;
    padding-left: 24px;
    @include flexbox(row, center, center);
  }

  .overlay-text {
    font-size: 18px;
  }

  &.slide-top {
    animation: slide-top 250ms linear 0s;
  }

  &.slide-right {
    animation: slide-right 250ms linear 0s;
  }

  &.slide-left {
    animation: slide-left 250ms linear 0s;
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translate(30%, 30%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translate(-30%, 30%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
