.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__cards {
  @include flexbox(row, center, stretch, wrap, 30px);
}

.clients__card {
  padding: 22px 54px;
  border: 1px solid var(--colorSVG);
  border-radius: 4px;
  @include transition(border, 0.25s, cubic-bezier(0.4, 0, 0.2, 1));
}

.clients__card:hover {
  border-color: var(--colorHover);
}

.clients__icon {
  width: 65px;
  height: 50px;
  fill: var(--colorSVG);
  @include transition(fill, 0.25s, linear);
}

.clients__card:hover .clients__icon {
  fill: var(--colorHover);
}
