html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input {
  border: none;
  outline: none;
}

ol,
ul {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  cursor: text;
  background-color: field;
}

body {
  color: var(--colorTextTitle);
  font-weight: 400;
  line-height: 1.625;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  min-width: 480px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 16px 0;
  border-bottom: 1px solid #EEEEEE;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__contact-list {
  display: none;
}
.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.header__nav-link {
  padding: 8px 16px;
  text-align: center;
}
.header__contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.header__contact-link {
  justify-content: center;
}
@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
  }
  .header__logo {
    max-width: 135px;
  }
  .header__contact-list {
    display: flex;
    gap: 60px;
  }
  .header__nav-list {
    flex-direction: row;
  }
  .header__nav {
    margin: auto 0;
  }
  .header__contact {
    display: flex;
    flex-direction: column;
  }
  .header__contact-item {
    margin: auto 0;
    display: flex;
    justify-content: space-between;
  }
  .header__contact-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .header__contact-icon {
    max-width: 14px;
    max-height: 14px;
  }
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter-list {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  font-size: 16px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter-link {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), color 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: none;
}
.filter-link:hover {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projeckts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.projeckt {
  border: 1px solid #EEEEEE;
  max-width: 450px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.projeckt:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 4px;
}
.projeckt .title-category {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 4px;
}
.projeckt .projeckt-title {
  line-height: 2;
  font-weight: 700;
  font-size: 18px;
}
.projeckt .projeckt-category {
  line-height: 1.875;
  color: #757575;
  font-size: 16px;
}
.projeckt .projeckt-photo {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.projeckt .projeckt-photo:hover .projeckt-overlay {
  transform: translateY(0);
}
.projeckt .projeckt-overlay {
  background-color: rgba(33, 150, 243, 0.8);
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projeckt .overlay-text {
  font-size: 18px;
}
.projeckt.slide-top {
  animation: slide-top 250ms linear 0s;
}
.projeckt.slide-right {
  animation: slide-right 250ms linear 0s;
}
.projeckt.slide-left {
  animation: slide-left 250ms linear 0s;
}

@keyframes slide-top {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translate(30%, 30%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translate(-30%, 30%);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
.footer {
  background-color: #2f303a;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.footer__container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__photo {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.footer__lists {
  display: flex;
  gap: 70px;
  flex-direction: column;
  text-align: center;
}

.footer__info-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer__info-item,
.footer__info-address {
  color: #fff;
  font-weight: 400;
}

.footer__info-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.footer__social-network {
  display: flex;
  flex-direction: column;
  transform: translateY(-30px);
}

.footer__social-network-title {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(175, 177, 184, 0.2);
  transition: background-color 0.25s, fill 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon-block:hover {
  background-color: #2196f3;
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  transform: translateY(-30px);
}

.footer__newsletter-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer__newsletter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__newsletter-outline {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: -15px;
  transition: border-color 0.25s linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__newsletter-outline:focus-within,
.footer__newsletter-outline:hover {
  outline: none;
  border-color: #2196f3;
}

.footer__newsletter-input {
  width: 450px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: none;
  outline: none;
}

.footer__newsletter-button {
  font-weight: 700;
  font-size: 16px;
  padding: 13px 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: #2196f3;
  border-radius: 4px;
  color: #fff;
}

.footer__newsletter-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}