html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input {
  border: none;
  outline: none;
}

ol,
ul {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  cursor: text;
  background-color: field;
}

body {
  color: var(--colorTextTitle);
  font-weight: 400;
  line-height: 1.625;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.clients__title, .team__title, .services__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #EEEEEE;
}
.header__container {
  display: flex;
  flex-direction: row;
  gap: 93px;
  align-items: center;
}
.header__contact-list {
  gap: 302px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: fill 0.25s, color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-link:hover {
  fill: #2196f3;
  color: #2196f3;
}
.header__contact-icon {
  width: 16px;
  height: 16px;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  gap: 52px;
}
.header__nav-item {
  font-weight: 500;
}
.header__contact {
  display: flex;
  flex-direction: row;
  gap: 52px;
}
.header__nav-link {
  position: relative;
  transition: color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  left: 0;
  bottom: -30px;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 0.25s, opacity 0.25s;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover {
  color: #2196f3;
}
.header__nav-link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
.header__nav-link--active {
  color: #2196f3;
  position: relative;
}
.header__nav-link--active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  left: 0;
  bottom: -30px;
  opacity: 1;
  transform: scaleX(1);
}

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  background-image: url(../img/hero/backbackground-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.55;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.hero__title {
  line-height: 1.363;
  font-size: 44px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.hero__button {
  line-height: 1.875;
  background-color: #2196f3;
  color: #fff;
  padding: 10px 32px;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  border-radius: 0px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.about {
  padding-top: 94px;
}

.about__container {
  max-width: 1200px;
  margin: 0 auto;
}

.about__list {
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
}

.about__item {
  flex: 1;
}

.about__photo {
  padding: 25px 100px;
  background-color: #f5f4fa;
}

.about__img {
  width: 70px;
  height: 70px;
}

.about__title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
}

.about__description {
  color: #757575;
  font-weight: 400;
}

.services {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services__cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 30px;
}

.services__card {
  position: relative;
}

.services__img {
  width: 100%;
  height: 100%;
  display: block;
}

.services__card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  letter-spacing: 0.42px;
  padding: 27px 0;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.team__item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  width: 270px;
  text-align: center;
}

.team__photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.team__img {
  width: 100%;
}

.team__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
}

.team__position {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
}

.team__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon:hover {
  background-color: #2196f3;
}

.team__icon:hover .team__icon-svg {
  fill: #fff;
}

.team__icon-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__card {
  padding: 22px 54px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__card:hover {
  border-color: #2196f3;
}

.clients__icon {
  width: 65px;
  height: 50px;
  fill: #AFB1B8;
  transition: fill 0.25s linear;
}

.clients__card:hover .clients__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__photo {
  max-width: 145px;
  max-height: 31px;
  margin-bottom: 20px;
}

.footer__lists {
  display: flex;
  gap: 70px;
}

.footer__info-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer__info-item,
.footer__info-address {
  color: #fff;
  font-weight: 400;
}

.footer__info-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.footer__social-network {
  display: flex;
  flex-direction: column;
  transform: translateY(-30px);
}

.footer__social-network-title {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(175, 177, 184, 0.2);
  transition: background-color 0.25s, fill 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon-block:hover {
  background-color: #2196f3;
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  transform: translateY(-30px);
}

.footer__newsletter-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer__newsletter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.footer__newsletter-outline {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: -15px;
  transition: border-color 0.25s linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__newsletter-outline:focus-within,
.footer__newsletter-outline:hover {
  outline: none;
  border-color: #2196f3;
}

.footer__newsletter-input {
  width: 358px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: none;
  outline: none;
}

.footer__newsletter-button {
  font-weight: 700;
  font-size: 16px;
  padding: 13px 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: #2196f3;
  border-radius: 4px;
  color: #fff;
}

.footer__newsletter-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-150%, -50%) perspective(2500px) rotateY(-90deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  transform: translate(-50%, -50%) perspective(2500px) rotateY(0);
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal__title {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.group-input__icon {
  position: absolute;
  top: 55%;
  left: 10px;
  width: 12px;
  height: 12px;
  fill: #212121;
}

.group-input__label {
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}

.group-input__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 1px 42px;
}

.group-input__input:focus,
.group-input__input:hover {
  border-color: #2196f3;
  outline: none;
}

.group-input:nth-of-type(4) .group-input__input {
  height: 120px;
  padding: 12px 16px 90px 15px;
  font-size: 12px;
  resize: none;
}

.group-input:nth-of-type(4) .group-input__input::-moz-placeholder {
  position: absolute;
  top: 20px;
  left: 16px;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  transform: translateY(-50%);
}

.group-input:nth-of-type(4) .group-input__input::placeholder {
  position: absolute;
  top: 20px;
  left: 16px;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  transform: translateY(-50%);
}

.modal__form-checkbox {
  display: flex;
  flex-direction: row;
  gap: 8.38px;
  margin-top: 25px;
}

.form-checkbox__label {
  font-weight: 400;
}

.form-checkbox__link {
  color: #2196f3;
  text-decoration: underline;
}

.modal__form-submit {
  margin-top: 30px;
}

.form-submit__button {
  padding: 16px 52px;
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
}

.modal__btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
}

.modal__btn-close .modal__icon {
  width: 30px;
  height: 30px;
  transition: transform 0.25s ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover .modal__icon {
  transform: rotate(360deg);
  fill: #2196f3;
}

.no-scroll {
  overflow: hidden;
}