html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
ol,
ul,
li,
form,
label,
article,
footer,
header,
nav,
button
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none; 
  text-decoration: none;
  border: 0;
  color: inherit;
  font-style: normal;
}
article,
footer,
header,
menu,
nav,
section {
  display: block;
}
body{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}



