:root {
  /* Кольори макету */
  /* Текст */
  --colorTextTitle: #212121;
  --colorText: #757575;
  --colorTextContrast: #fff;
  --colorTextAdd: rgba(255, 255, 255, 0.6);
  --colorHover: #2196f3;
  /* Фон */
  --colorBackgroundPrimary: #2f303a;
  --colorBackgroundSecondary: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* header */
/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/
.nav_link,
.nav-list {
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: var(--colorTextTitle);
  font-weight: 500;
}
.contact_link,
.header_contact {
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: var(--colorText);
  font-weight: 500;
}
.nav_link:hover,
.contact_link:hover {
  color: var(--colorHover);
}
/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/

/* main */
/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/

/* hero */
/* ---------------------------------- */
.hero_title {
  line-height: 1.363;
  font-size: 44px;
  color: var(--colorTextContrast);
  font-weight: 900;
  text-transform: uppercase;
}
.hero_link {
  line-height: 1.875;
  /* color: var(--colorTextContrast); */
  font-weight: 700;
  text-decoration: none;
}
/* ---------------------------------- */

/* about */
/* ---------------------------------- */
.about_list {
  list-style: none;
}
.about_title {
  font-size: 14px;
  color: var(--colorTextTitle);
  font-weight: 700;
}
.about_description {
  font-size: 14px;
  color: var(--colorText);
  font-weight: 400;
  line-height: 1.714;
}
/* ---------------------------------- */

/* services */
/* ---------------------------------- */
.services_title {
  font-size: 36px;
  font-weight: 700;
  color: var(--colorTextTitle);
}
/* ---------------------------------- */

/* team */
/* ---------------------------------- */
.team_title {
  font-size: 36px;
  font-weight: 700;
  color: var(--colorTextTitle);
}
.teammate_name {
  color: var(--colorTextTitle);
  font-weight: 500;
  font-size: 16px;
}
.teammate_position {
  color: var(--colorText);
  font-weight: 400;
  font-size: 16px;
}
/* ---------------------------------- */
/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/

/* footer */
/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/

/* footer_info */
/* ---------------------------------- */
.footer_info-list,
.footer_info-list a {
  list-style: none;
  text-decoration: none;
}
.info_address {
  color: var(--colorTextContrast);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  font-style: normal;
}
.info_link {
  color: var(--colorTextAdd);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  font-style: normal;
}
/* ---------------------------------- */

/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/
