body{
  font-family: "Roboto", sans-serif;
}
:root {
  /* Кольори макету */
  /* Текст */
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextTertiary: #fff;
  --colorTextAdditional: rgba(255, 255, 255, 0.6);
  --colorHover: #2196f3;
  /* Фон */
  --colorBackgroundPrimary: #2f303a;
  --colorBackgroundSecondary: #f5f4fa;

}

.filter_link{
  line-height: 1.6;
}
.item_title{
  line-height: 2;
}
.item_category{
  line-height: 1.9;
}
.info_address, .info_link{
  line-height: 1.7;
}