/* fonts
roboto-regular - 400; 
roboto-medium - 500;
roboto-bold - 700;
*/
:root {
  /* Кольори макету */
  /* Текст */
  --colorTextTitle: #212121;
  --colorText: #757575;
  --colorTextContrast: #fff;
  --colorTextAdd: rgba(255, 255, 255, 0.6);
  --colorHover: #2196f3;
  /* Фон */
  --colorBackgroundPrimary: #2f303a;
  --colorBackgroundSecondary: #f5f4fa;
}

body {
  color: var(--colorTextTitle);
  font-weight: 700;
  line-height: 1.714;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
.header{
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.list-contact{
  gap: 344px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-list{
  display: flex;
  flex-direction: row;
  gap: 52px;

}
 .nav-item{
  font-weight: 500;
  
}
.contact-link{
  color: var(--colorText);
  font-weight: 500;
}
.header-contact {
  display: flex;
  flex-direction: row;
  gap: 52px;
}
.nav-link:hover,
.contact-link:hover {
  color: var(--colorHover);
}

/* main */

/* hero */
.hero{
  background-color: var(--colorBackgroundPrimary);
  padding-top: 200px;
  padding-bottom: 200px; 
 
}
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero-title {
  line-height: 1.363;
  font-size: 44px;
  color: var(--colorTextContrast);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.hero-button {
  line-height: 1.875;
  background-color: var(--colorHover);
  color: var(--colorTextContrast);
  width: 216px;
  height: 50px;
  border-radius: 4px;
  transition: 0.5s;
}
.hero-button:hover{
  border-radius: 0px;
  transition: 0.5s;
}

/* about */
.about{
  padding-top: 94px;

}
.about-img{
  padding-bottom: 30px;
}
.about-list {
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;

}
.about-title {
  padding-bottom: 10px;
}
.about-description {
  color: var(--colorText);
  font-weight: 400;
}

/* services */
.services{
  padding-top: 94px;
  padding-bottom: 94px;

}
.services-title {
  padding-bottom: 50px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: start;
}
.services-cards{
  display: flex;
  flex-direction: row;
  gap: 30px;

}

/* team */
.team{
  background-color: var(--colorBackgroundSecondary);
  padding-top: 94px;
  padding-bottom: 94px;

}
.team-title {
  padding-bottom: 50px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: start;
  
}
.teammates{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
     
}
.teammate{
  background-color: var(--colorTextContrast);
  border-radius: 0 0 4px 4px;
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.teammate-photo {
  display: flex;
  align-items: center;
}

.teammate-img{
  width: 270px;

}
.name-position{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  padding-top: 30px;
}
.teammate-position {
  color: var(--colorText);
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 30px;
}


/* footer */
footer{
  background-color: var(--colorBackgroundPrimary);
  padding-top: 60px;
  padding-bottom: 60px;

}
.logo-img{
  padding-bottom: 20px;
}
.footer-info-list{
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.info-address {
  color: var(--colorTextContrast);
  font-weight: 400;
}
.info-link {
  color: var(--colorTextAdd);
  font-weight: 400;
}


