*{
  margin: 0;
  padding: 0;
}
:root {
  /* Кольори макету */
  /* Текст */
  --colorTextTitle: #212121;
  --colorText: #757575;
  --colorTextContrast: #fff;
  --colorTextAdd: rgba(255, 255, 255, 0.6);
  --colorHover: #2196f3;
  /* Фон */
  --colorBackgroundPrimary: #2f303a;
  --colorBackgroundSecondary: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 100%;
  height: 100vh;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/

header .container{
  padding-top: 24px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.header-nav{
  margin-right: 344px;
  margin-left: 93px;
  
}
.nav-link,
.nav-list {
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: var(--colorTextTitle);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 52px;
}
.contact-link,
.header-contact {
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: var(--colorText);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 52px;
  
}
.nav-link:hover,
.contact-link:hover {
  color: var(--colorHover);
}
/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/

/* main */
/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/

/* hero */
/* ---------------------------------- */
.hero{
  background-color: var(--colorBackgroundPrimary);
  max-width: 20000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 95px;
}
.hero-title {
  line-height: 1.363;
  font-size: 44px;
  color: var(--colorTextContrast);
  font-weight: 900;
  text-transform: uppercase;
  width: 696px;
  text-align: center;
}
.hero-button {
  line-height: 1.875;
  background-color: var(--colorHover);
  color: var(--colorTextContrast);
  font-weight: 700;
  text-decoration: none;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  transition: 0.5s;
}
.hero-button:hover{
  border-radius: 0px;
  transition: 0.5s;
}
/* ---------------------------------- */

/* about */
/* ---------------------------------- */
.about{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 105px;
}
.about-item{
  max-width: 270px;
}
.about-list {
  list-style: none;
  max-width: 1200px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;

}
.about-title {
  font-size: 14px;
  color: var(--colorTextTitle);
  font-weight: 700;
  padding-bottom: 19.38px;
}
.about-description {
  font-size: 14px;
  color: var(--colorText);
  font-weight: 400;
  line-height: 1.714;
}
/* ---------------------------------- */

/* services */
/* ---------------------------------- */
.services-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--colorTextTitle);
  display: flex;
  justify-content: center;
  align-items: start;
  padding-bottom: 50px;
}
.services-cards{
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 94px;

}
/* ---------------------------------- */

/* team */
/* ---------------------------------- */
.team{
  background-color: var(--colorBackgroundSecondary);
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--colorTextTitle);
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 94px;
  padding-bottom: 50px;
}
.teammates{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 94px;   
}
.teammate{
  height: 368px;
  background-color: var(--colorTextContrast);

}
.teammate-photo {
  display: flex;
  align-items: center;
}

.teammate-img{
  width: 270px;

}
.name-position{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}
.teammate-name {
  color: var(--colorTextTitle);
  font-weight: 500;
  font-size: 16px;
  padding-top: 30px;
}
.teammate-position {
  color: var(--colorText);
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 30px;
}

/* ---------------------------------- */
/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/

/* footer */
/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/
footer{
  height: 252px;
  background-color: var(--colorBackgroundPrimary);
}
footer .container{
  max-width: 1600px;
  padding-left: 175px;
}
/* footer_info */
/* ---------------------------------- */
.logo-img{
  width: 145px;
  height: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.footer-info-list li{
  margin-bottom: 9px;
  width: 231px;
}
.footer-info-list a {
  list-style: none;
  text-decoration: none;
}
.info-address {
  color: var(--colorTextContrast);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  font-style: normal;
}
.info-link {
  color: var(--colorTextAdd);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  font-style: normal;
}
/* ---------------------------------- */

/* -!-!-!-!-!-!-!-!-!--!-!-!-!-!-!-!-!-!-*/

