.hero {
  background-color: var(--colorBackgroundPrimary);
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative; 
  z-index: 1; 
}

.hero::before {
  content: '';
  background-image: url(../img/hero/backbackground-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; 
  opacity: 0.55;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%; 
  z-index: -1;
}

.hero__container {
  @include flexbox(column, center, center, nowrap, 30px);
}

.hero__title {
  line-height: 1.363;
  font-size: 44px;
  color: var(--colorTextContrast);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.hero__button {
  line-height: 1.875;
  background-color: var(--colorHover);
  color: var(--colorTextContrast);
  padding: 10px 32px;
  font-size: 16px;
  border-radius: 4px;
  @include transition(all, 0.25s, cubic-bezier(0.4, 0, 0.2, 1));
}

.hero__button:hover {
  border-radius: 0px;
  @include transition(all, 0.25s, cubic-bezier(0.4, 0, 0.2, 1));
}
